<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="DefaultConnection"
			 connectionString="Data Source=(localdb)\MSSQLLocalDB;Initial Catalog=DB_QuadTech;Integrated Security=True;Encrypt=True" />
		<add name="CloudConnection"
			 connectionString="Data Source=db34954.public.databaseasp.net;Initial Catalog=db34954;Persist Security Info=True;User ID=db34954;Password=L+d97F-g!3xK;Trust Server Certificate=True" />
	</connectionStrings>
</configuration>
